.form-group{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1em;
    min-width: 25em;
    width: 30vw;
}
.form-group label{
    text-align: center;
}
form{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}