<div class="mainC">
    <div class="welcomingMessage">
        <h1>Welcome to the Exchange!</h1>
        <p>
            A platform where users can freely trade goods and services for money, cryptocurrency and barter.
        </p>
    </div>
    <hr>
    <div class="controlPanel">
        <div class="cpContainer">
            <div class="lgoutContent" *ngIf="!userService.isLogged">
                <p style="margin-top: 0px;">Already a user?</p>
                <a href="user/login">Login</a>
                <p>Want to explored before <a class ="register" href="user/register">registering</a>?</p>
            </div>
            <div class="lgInContent" *ngIf="userService.isLogged">
                <p style="margin-top: 0px;">Welcome back, {{this.userService.LoggedUser}}</p> 
                <a href="user/{{this.userService.LoggedUser}}">Manage your profile</a>
                <p>or</p>
            </div>
            <a href="/market">Go to market</a>
        </div>
    </div>

</div>
<div *ngIf="this.transactions.length!=0">
    <h3>Last 5 transactions</h3>
    <ul class="transactions" type="none">
        <li>
            <span>Seller</span>
            <span>Product</span>
            <a style="width: 21px;"></a>
            <span style="text-align: right;">Price</span>
            <span style="text-align: right;">Buyer</span>
            <div></div>
        </li>
        <app-li-complete *ngFor="let t of transactions" [transaction]="t"></app-li-complete>
    </ul>
</div>
<h1 *ngIf="this.transactions.length==0" style="text-align: center; font-size: 48px; color: gray;"> No transaction history found</h1>