<form #f="ngForm" class="register" (ngSubmit)="submissionHandler(f.value)">
    <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" ngModel type="title" class="form-control" placeholder="Headphones" name="title" value="" required>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input #imageUrl="ngModel" ngModel type="imageUrl" class="form-control" placeholder="http://.." name="imageUrl" value="">
    </div>
    <div class="form-group">
      <label for="price">Price USD</label>
      <input #price="ngModel" ngModel type="price" class="form-control" placeholder="0.00" name="price" value="" required pattern="[\d]*([.][\d]{2})?">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input #description="ngModel" ngModel type="description" class="form-control" placeholder="This product is.." name="description" value="">
    </div>
  
    <button type="submit" class="btn btn-primary">Add to catalog</button>
</form>