<form [formGroup]="form" class="register" (ngSubmit)="submissionHandler()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" placeholder="Headphones" name="title" value="" formControlName="title">
        <p *ngIf="form.get('title').touched && form.get('title').errors?.required" class="error">Title is required!</p>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input type="imageUrl" class="form-control" placeholder="https://.." name="imageUrl" value="" formControlName="imageUrl">
      <p *ngIf="form.get('imageUrl').touched && form.get('imageUrl').errors?.pattern" class="error">Please use a valid URL!</p>
    </div>
    <div class="form-group">
      <label for="price">Price USD</label>
      <input type="price" class="form-control" placeholder="0.00" name="price" value="" formControlName="price">
      <p *ngIf="form.get('price').touched && form.get('price').errors?.required" class="error">Price is required!</p>
      <p *ngIf="form.get('price').touched && form.get('price').errors?.pattern" class="error">Please input a valid price!</p>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <!-- <input type="textarea" class="form-control" placeholder="This product is.." name="description" value="" formControlName="description"> -->
      <textarea style="resize: vertical; min-height: 4em; height: 6em;"placeholder="This product is.." formControlName="description"></textarea>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Add to catalog</button>
</form>