
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 3em 0 3em;
    background-color: rgb(6,132,133);
    color:white
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
ul>li:not(:last-child){
    margin-right: 15px;
}
a{
    text-decoration: unset;
}
a:hover{
    cursor: pointer;
    border-bottom: 1px blue solid;
}
h2{
    margin: 5px 0px 5px 0px;
}
a{
    color: white;
}