.listing{
    display: flex;
    flex-direction: row;
}
.listing p{
    display: flex;
    margin: 5px;
    flex-grow: 1;
    width: 1vw;
}
button{
    margin: 5px;
}
li{
    border-left:1px grey solid;
    border-right:1px grey solid;
}
.first{
    border-radius: 1em 1em 0em 0em;
    border-top: 1px grey solid;
}
.last{
    border-radius: 0em 0em 1em 1em;
    border-bottom: 1px grey solid;
}
.odd{
    background-color: rgb(215, 241, 215);
}
.even{
    background-color: rgb(181, 201, 181);
}