.listing{
    display: flex;
    flex-direction: row;
}
.listing p{
    display: flex;
    margin: 5px;
    flex-grow: 1;
    width: 1vw;
}
button{
    margin: 5px;
}
li{
    border: 1px grey solid;
}