<div class="container">
    <div class='userSection'>
        <h2>{{user.username}}</h2>
        <img src="{{profilePic}}">
        <h3>Contacts</h3>
        <div class="userContact" *ngIf="!showPhoneForm">
            <p><span>Phone:</span> {{user.phoneNumber}}</p>
            <button *ngIf="user.username===this.userService.LoggedUser" (click)="togglePhoneForm()">Edit</button>
        </div>
        <app-single-form *ngIf="showPhoneForm" 
        [validator]="phoneValidator" 
        [placeholder]="'0888...'"
        [initialValue]="this.user.phoneNumber"
        (closeForm)="togglePhoneForm()"
        (submitter)="phoneFormSubmit($event)"></app-single-form>
        <div class="userContact" *ngIf="!showEmailForm">
            <p><span>Email:</span> {{user.email}}</p>
            <button *ngIf="user.username===this.userService.LoggedUser" (click)="toggleEmailForm()">Edit</button>
        </div>
        <app-single-form *ngIf="showEmailForm" 
        [validator]="emailValidator" 
        [placeholder]="'simon@gmail.com'"
        [initialValue]="this.user.email"
        (closeForm)="toggleEmailForm()"
        (submitter)="emailFormSubmit($event)"></app-single-form>
        <div class="userContact" style="margin-top: 1.5em;" *ngIf="user.username===this.userService.LoggedUser && !showFundsForm">
            <p><span>Funds:</span> ${{user.USD}}</p>
            <div>
                <button (click)="toggleFundsForm(); DorW = 1">Deposit</button>
                <button (click)="toggleFundsForm(); DorW = -1">Withdraw</button>
            </div>
        </div>
        <app-single-form style="margin-top: 1.5em;" *ngIf="showFundsForm" 
        [validator]="fundsValidator" 
        [placeholder]="'0.00'"
        (closeForm)="toggleFundsForm()"
        (submitter)="fundsFormSubmit($event)"></app-single-form>
    </div>
    <hr>
    <div class="TxSection">
        <div class='openTx'>
            <h3>Open Transactions</h3>
            <ul type='none'>
                <li>
                    <span>Product</span>
                    <span>Seller</span>
                    <span>Price</span>
                    <div></div>
                </li>
                <app-li-pending *ngFor="let t of pendingTxs" [transaction]="t" (refreshpage)="ngOnInit()"></app-li-pending>
            </ul>
        </div>
        <div class='CompletedTx'>
            <h3>Completed Transactions</h3>
            <ul type='none'>
                <li>
                    <div class="i"></div>
                    <div>
                        <span>Product</span>
                    </div>
                    <div>
                        <span>Price</span>
                        <span>Merchant</span>
                    </div>
                    <div class="placeholder"></div>
                </li>
                <app-li-complete *ngFor="let t of completeTxs" [transaction]="t"></app-li-complete>
            </ul>
        </div>
    </div>
</div>