.mainC{
    display: flex;
    flex-direction: row;
    padding: 1em 1em 1em 1em;
    width: inherit;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.imgContainer{
    display: flex;
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    margin: 0em 1em 0em 0em;
}
.details{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    flex-grow: 1;
    white-space: pre-wrap;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}
.details>p{
    flex-grow: 1;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h2{
    margin: 0px;
}
.buysection{
    background-color: rgb(188, 238, 184);
    border-radius: calc(1vh + 0.6em);
    display: flex;
    flex-direction: row;
}
.buysection a{
    background-color: rgb(105, 194, 117);
}
.buysection>*{
    padding:0.6em
}
.btn{
    border-radius: calc(1vh + 0.6em);
    padding: 0.6em;
    cursor: pointer;
    border: 1px solid gray;
}
.edit{
    background: rgb(70, 186, 231);
    margin-left: 1em;
}
.delete{
    background: rgb(255, 126, 126);
    margin-left: 0.2em;
}
a{
    text-decoration: unset;
    font-weight: bold;
}
.deleteConfirmation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.yes{
    background-color: tomato;
    margin-left: 1em;
}
.no{
    background-color: yellowgreen;
    margin-left: 0.4em;
}
.date{
    padding: 0.6em 0em;
    flex-grow: 1;
}