<div class='mainC'>
    <div class="imgContainer">
        <img src="{{imageUrl}}">
    </div>
    <div class='details'>
        <div class="top">
            <h2>{{transaction.title}}</h2>
            <p>Seller: <span>{{transaction.publisherUsername}}</span></p>
        </div>
        <p>{{transaction.description}}</p>
        <div class="bottom">
            <div class='buysection'>
                <span>${{transaction.price}}</span>
                <a class ="btn" *ngIf="isLogged && transaction.publisherUsername != LoggedUser" href="tx/transact/{{transaction.id}}">Buy</a>
            </div>
            <a class="edit btn" *ngIf="isLogged && transaction.publisherUsername == LoggedUser"href="tx/edit/{{transaction.id}}">Edit</a>
            <a class="delete btn" *ngIf="isLogged && transaction.publisherUsername == LoggedUser"(click)="deletionHandler()">Delete</a>
        </div>
    </div>
</div>