<div class='mainC'>
    <div class="imgContainer">
        <img src="{{imageUrl}}">
    </div>
    <div class='details'>
        <div class="top">
            <h2>{{transaction.title}}</h2>
            <p>Seller: <a href="user/{{transaction.publisherUsername}}">{{transaction.publisherUsername}}</a></p>
        </div>
        <p>{{transaction.description}}</p>
        
        <div class="bottom" *ngIf="!showDeletionQuery">
            <span class="date">Published on: <i>{{transaction.createdOn | date: 'dd.MM.yyyy- h:mm'}}</i></span>
            <div class='buysection'>
                <span>${{transaction.price}}</span>
                <a class ="btn" *ngIf="isLogged && transaction.publisherUsername != LoggedUser" href="tx/transact/{{transaction.id}}">Buy</a>
            </div>
            <a class="edit btn" *ngIf="isLogged && transaction.publisherUsername == LoggedUser"href="tx/edit/{{transaction.id}}">Edit</a>
            <a class="delete btn" *ngIf="isLogged && transaction.publisherUsername == LoggedUser"(click)="showDeletion()">Delete</a>
        </div>
        <div class="deleteConfirmation" *ngIf="showDeletionQuery">
            <span>Are you sure?</span>
            <a class="yes btn" (click)="deletionHandler()">Yes</a>
            <a class="no btn"(click)="showDeletion()">No</a>
        </div>
    </div>
</div>