<div class='mainC'>
    <div class="imgContainer">
        <img src="{{transaction.imageUrl}}">
    </div>
    <div class='details'>
        <div class="top">
            <h2>{{transaction.title}}</h2>
            <p>Seller: <span>{{transaction.publisherUsername}}</span></p>
        </div>
        <p>{{transaction.description}}</p>
        <div class="bottom">
            <span>${{transaction.price}}</span>
            <a href="tx/transact/{{transaction.id}}">Buy</a>
            <a href="tx/edit/{{transaction.id}}">Edit</a>
            <a (click)="deletionHandler()">Delete</a>
        </div>
    </div>
</div>