<li [class.first]="transaction.pos==1" [class.last]="transaction.pos==-1" [class.odd]="transaction.odd" [class.even]="!transaction.odd">
    <div class="listing">
        <div class="left">
            <p>{{transaction.seller}}</p>
            <p>{{transaction.title}}</p>
        </div>
        <i class="fas fa-exchange-alt"></i>
        <div class="right">
            <p>${{transaction.price}}</p>
            <p>{{transaction.buyer}}</p>
        </div>
        <button (click)="toggleDetails()">Details</button>
    </div>
    <app-v-complete *ngIf="viewDetails" [transaction]="transaction"></app-v-complete>
</li>