@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.listing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listing *{
    margin: 5px;
}
.dContainers{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.dContainers *{
    flex-grow: 1;
    width: 1vw;
}
.right *{
    justify-items: flex-end;
    text-align: right;
}
li{
    border-left:1px grey solid;
    border-right:1px grey solid;
}
.first{
    border-radius: 1em 1em 0em 0em;
    border-top: 1px grey solid;
}
.last{
    border-radius: 0em 0em 1em 1em;
    border-bottom: 1px grey solid;
}
.odd{
    background-color: rgb(215, 241, 215);
}
.even{
    background-color: rgb(181, 201, 181);
}
i{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}
.fa-arrow-left{
    color: rgb(7, 76, 133);
    font-weight: bold;
}
.fa-arrow-right{
    color: rgb(0, 126, 0);
    font-weight: bold;
}