/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}
app-root{
    flex-grow: 1;
}