/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
    background-color: rgb(238,238,238);
}
app-root{
    flex-grow: 1;
    min-width: 800px;
    width: 70vw;
    max-width: 1200px;
    align-self: center;
    display: flex;
    flex-direction: column;
}